@model EdmanOnlineShop.ViewModels.RequestTableViewModel
@{
    ViewBag.Title = "Request";
    Layout = "_DashboardLayout";
}

<div class="row mb-2">
    <div class="col">
        <h2 class="h2"> Requests </h2>
    </div>
</div>


<table id="request_table" class="table table-bordered table-sm">    
    <thead>
    <tr>
        <th>Request ID</th>
        <th>Date</th>
        <th>Product Name</th>
        <th>Customer Name</th>
        <th>Total</th>
        <th>Quantity</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Requests)
    {
        <tr>
            <td > @Html.DisplayFor(modelItem => item.RequestID)</td>
            <td > @item.DateRequested.ToShortDateString()</td>
            <td> @item.ProductName </td>
            <td > @item.User.FirstName @item.User.LastName</td>
            <td class="price"> @(item.Quantity * item.Price)</td>
            <td>
                @item.Quantity
                @*  <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-productID="@item.ProductID"> Edit </a> *@
                @* <a class="btn btn-danger btn-sm" asp-action="Archive" asp-route-productID="@item.ProductID"> Archive </a> *@
            </td>
            <td>
                            @item.RequestStatus

                <a asp-action="Approve" asp-route-id="@item.RequestID" class="btn btn-primary"> <i class="far fa-thumbs-up"></i> Approve </a>
                <a asp-action="Reject"  asp-route-id="@item.RequestID" class="btn btn-danger"> <i class="far fa-thumbs-down"></i> Reject </a>
            </td>
                    
        </tr>
    }
    </tbody>
</table>
