@model EdmanOnlineShop.ViewModels.IndexOrderViewModel

@{
    ViewData["Title"] = "Deliveries";
    Layout = "_DashboardLayout";
}


<h2 class="h2">Deliveries</h2>

<table id="orders_table" class="table table-bordered table-sm">
    <thead>
    <tr>
        <th scope="col">Product Name</th>
        <th scope="col">User</th>
        <th> Quantity </th>
        <th> Amount </th>
        <th> Payment Method </th>
        <th> Status </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Orders)
    {
        <tr>
            <td >
                <a href="/Products/ViewProduct?productId=@item.ProductID">@Html.DisplayFor(modelItem => item.ProductName)</a>
            </td>
            <td > @item.FirstName @item.LastName </td>
            <td> @item.Quantity </td>
            <td> @item.Amount</td>
            <td> @item.PaymentMethod</td>
            <td>
                @item.Status 
                <a asp-action="Delivered" class="btn btn-success" asp-route-orderId="@item.OrderID">
                                                    <i class="fas fa-fw fa-parachute-box"></i>
 Delivered
                </a>
                <a asp-action="Cancelled" class="btn btn-danger" asp-route-orderId="@item.OrderID">
                                                    <i class="fas fa-fw fa-times"></i>
 Cancelled
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>