@model EdmanOnlineShop.ViewModels.ReturnConfirmViewModel

@{
    ViewBag.Title = "Return Confirm";
    Layout = "_Layout";
}

<div class="container-fluid" style="width:90%; margin: auto">

    <div class="row mt-5">
        <div class="col-8 m-auto">
            <div class="card">

                <form asp-action="Return" method="post">
                <div class="card-body pt-4 pb-0 mb-0">
                    <h5> Are you sure you want to return this item? </h5>
                    <div class="border-top"></div>
                    <div class="row">
                        <div class="col-4">
                            @{
                                var base64 = Convert.ToBase64String(@Model.Product.ProductImage);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            }
                            <img src="@imgSrc" class="img-fluid" alt="">
                        </div>
                        <div class="col-8">
                            <h6 class="mt-1 py-2"> @Model.Product.ProductName</h6>
                            <p class="text-muted"> @Model.Order.Quantity items </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for=""> Quantity To Return </label>
                        <input type="number" asp-for="QuantityToReturn" min="1" max="@Model.Order.Quantity"/>
                        <input type="hidden" asp-for="OrderID" value="@Model.Order.OrderID" >
                        <input type="hidden" asp-for="ProductID" value="@Model.Product.ProductID" >
                    </div>
                </div>
                <div class="card-footer">

                        @* <a asp-action="AddRequest" asp-route-cartItemID="@Model.OrderID" class="btn btn-primary"> Request </a> *@
                        
                        <input type="submit" class="btn btn-primary" value="Confirm">
                        <a href="../" class="btn btn-danger"> Cancel </a>

                </div>
</form>
            </div>

        </div>
    </div>
</div>