@model EdmanOnlineShop.ViewModels.IndexOrderViewModel

@{
    ViewData["Title"] = "Products Table";
    Layout = "_DashboardLayout";
}

<h2 class="h2">Orders</h2>


<table id="orders_table" class="table table-bordered table-sm">
    <thead>
    <tr>
        <th scope="col">Product Name</th>
        <th scope="col">User</th>
        <th> Quantity </th>
        <th> Amount </th>
        <th> Payment Method </th>
        <th> Status </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Orders)
    {
        <!-- Modal -->
        <div class="modal fade" id="modal_@item.OrderID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form asp-action="Approve">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Approve Order</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6> Set deliver date </h6>
                            <p> This will approve the order for order: @item.ProductName </p>
                            <input  type="date" asp-format="{0:yyyy-MM-dd}"  asp-for="DeliverDate" class="form-control"/>
                            <input type="hidden" asp-for="OrderID" value="@item.OrderID">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" asp-action="Approve" class="btn btn-primary" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <tr>
            <td >
                <a href="/Products/ViewProduct?productId=@item.ProductID">@Html.DisplayFor(modelItem => item.ProductName)</a>
            </td>
            <td > @item.FirstName @item.LastName </td>
            <td> @item.Quantity </td>
            <td> @item.Amount</td>
            <td> @item.PaymentMethod</td>
            <td>
                @item.Status
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_@item.OrderID">
                    <i class="fas fa-fw fa-thumbs-up"></i>

                    Approve
                </button>

                <a asp-action="Reject" asp-route-orderId="@item.OrderID" class="btn btn-danger">
                    <i class="fas fa-fw fa-thumbs-down"></i>
                    Reject
                </a>

            </td>
        </tr>
    }
    </tbody>
</table>

<script >
$(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    $("input[type='date']").attr( 'min', maxDate);
    $("input[type='date']").attr('value', maxDate);

});
</script>