@model EdmanOnlineShop.ViewModels.IndexOrderViewModel

@{
    ViewData["Title"] = "My Orders";
    Layout = "_Layout";
}

<div class="container-fluid" style="width: 90%!important; margin: auto">

    <h2 class="h2"> My Orders </h2>
    <div class="mt-4"></div>
    @if (Model.Orders.Count == 0)
    {
        <h4 class="display-4" style="font-size: 32px;"> No items to display. </h4>
    }
    @foreach (var order in Model.Orders)
    {
        <div class="card mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        @{
                            var base64 = Convert.ToBase64String(@order.ProductImage);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src="@imgSrc" class="img-fluid" alt="">
                    </div>
                    <div class="col-11">
                        <div class="row">
                            <div class="col">
                                <h5> <span class="text-primary"> (@order.Quantity) </span>@order.ProductName </h5>
                                <p> Placed <span class="relative"> @order.DatePlaced</span></p>
                            </div>
                            <div class="col text-right">
                                <h5>Order Status: 
                                    @if (@order.Status == Status.REJECTED)
                                    {
                                        <span class="text-danger">@order.Status</span>
                                    }
                                    else if(@order.Status == Status.TO_RECEIVE)
                                    {
                                        <span class="text-success">@order.Status</span>
                                    }
                                    else if (@order.Status == Status.DELIVERED)
                                    {
                                        <span class="text-primary">@order.Status</span>

                                        <br/>
                                        <a asp-controller="Feedbacks" asp-action="WriteFeedback" asp-route-productId="@order.ProductID" class="btn btn-primary mt-2">
                                            Send Feedback
                                        </a>
                                    
                                        @if (@order.ReturnQuantity < order.Quantity && (DateTime.Now <= order.CanBeReturnedUntil))
                                         {
                                             <a asp-controller="Return" asp-action="ReturnConfirm" asp-route-id="@order.OrderID" class="btn btn-dark mt-2">
                                                 Return 
                                             </a>
                                             <p class="font-weight-normal mt-3"  style='font-size: 14px;'> Can only be returned until @order.CanBeReturnedUntil </p>
                                         }
                                         else
                                         {
@*                                              <button class="btn btn-dark mt-2" disabled> *@
@*                                                  Returned  *@
@*                                              </button> *@
                                         }  
                                    }
                                    else
                                    {
                                        <span class="text-primary">@order.Status</span>
                                                                            
                                    }
                                    
                                </h5>
                                
                                <p> ₱<span class="price"> @order.Amount </span></p>
                                
                                @if(order.Status == Status.TO_RECEIVE)
                                {
                                    <p> Deliver date: <span class="date-only">@order.DeliverDate.ToShortDateString()</span>     </p>
                                   
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>

<script >
    // $(".relative").html(moment($(".relative").html()).fromNow());
</script>