@using Microsoft.AspNetCore.Identity
@model EdmanOnlineShop.ViewModels.CartViewModel
@{
    ViewBag.Title = "Category";
    Layout = "_Layout";
}


<div class="wrapper container-fluid" style="width: 90%!important;margin: auto;">
    <div class="row mt-3">
        <div class="col-8">
            <h2 class="h2 pt-0"> My Cart </h2>
            <div class="mt-4"></div>
            @if (Model.CartItems.Count == 0)
            {
                <h4 class="display-4" style="font-size: 32px;"> No items to display. </h4>
            }
            else
            {
                foreach (var cartItem in Model.CartItems)
                {
                    <div class="card mb-2">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-2 p-0 pr-2 pl-4 m-0">
                                    @{
                                        var base64 = Convert.ToBase64String(@cartItem.ProductImage);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    }
                                    <img src="@imgSrc" class="img-fluid" alt=""/>
                                </div>
                                <div class="col-10 pl-4 m-0">
                                    <h4 class="product-name-h4"> @Html.DisplayFor(modelItem => cartItem.ProductName)</h4>
                                    @if (cartItem.Inventory.Quantity < cartItem.Quantity)
                                    {
                                        <p class="text-danger text-small"> <i class="fas fa-info-circle"></i> This product will not be proccessed when you checkout as it exceeds the current available stocks for this item which is <span class="font-weight-bold">@cartItem.Inventory.Quantity</span>. 
                                        </p>
                                        <p class="text-black-100 text-small">
                                            If you want to request for this item <a asp-controller="Request" asp-action="RequestConfirm" asp-route-cartItemID="@cartItem.CartItemID" class="text-danger font-weight-bold"> Click here</a>
                                        </p>
                                    }
                                    <div class="row mr-4">
                                        <div class="col-4">
                                            <p class="product-price-cart">
                                                ₱
                                                <span class="price">
                                                    @Html.DisplayFor(modelItem => cartItem.Price)</span>
                                            </p>
                                        </div>
                                        <div class="col-8">

                                            @* <div class="row"> *@
                                            @*     <div class="col"> *@
                                            @*          *@
                                            @*     </div> *@
                                            @* </div> *@
                                            <div class="form-row">
                                                <div class="col-10 m-0 p-0">
                                                    <form class="form-inline justify-content-end" asp-action="UpdateQuantity" asp-route-cartItemId="@cartItem.CartItemID">
                                                        <div class="form-group">
                                                            <label for=""> Quantity</label>
                                                            <input type="number" min="1"
                                                                   class="form-control ml-2" style="width: 60px!important;" name="quantity" id="quantity" value="@cartItem.Quantity"/>

                                                            <input type="submit" class="btn btn-dark" value="Update"/>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-2 m-0 p-0">
                                                    <form class="form-inline  justify-content-end" asp-action="DeleteFromCart" asp-route-productId="@cartItem.ProductID">
                                                        <button class="btn btn-danger"> Delete </button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-4">
            @if (Model.CartItems.Count != 0 && Model.Total != 0)
            {
                <form class="pt-2">
                    <h6> Order Summary </h6>
                    @* <p class="text-muted"> @_user> </p> *@
                    <p class="text-muted mb-0"> Total Ammount Due: </p>
                    <h5 class=" mb-3"> ₱<span class="price">@Model.Total </span></h5>
                    <a class="btn btn-primary btn-lg" href="/Orders/Checkout">
                        <i class="fas fa-fw fa-cart-plus"></i>
                        Proceed To Checkout
                    </a>
                </form>
            }
        </div>
    </div>
</div>