@model IEnumerable<EdmanOnlineShop.Models.Product>

@{
    ViewData["Title"] = "Products Table";
    Layout = "_DashboardLayout";
}



        <table id="products_table" class="table table-bordere    d table-sm">    
            <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td > @Html.DisplayFor(modelItem => item.ProductID)</td>
                    <td > @Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td > @Html.DisplayFor(modelItem => item.ProductDescription)</td>
                    <td > @Html.DisplayFor(modelItem => item.Price)</td>
                    <td> 
                     <a class="btn btn-danger btn-sm" asp-action="Restore" asp-route-productID="@item.ProductID"> Restore </a>
                        </td>
                    
                </tr>
            }
            </tbody>
        </table>
