@using Microsoft.AspNetCore.Identity
@model EdmanOnlineShop.ViewModels.ProductsViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Products";
}

<div class="wrapper" style="margin: auto!important;width: 90%">
    
    
    <div class="row mb-2">
        <div class="col">
            <h2 class="h2"> Products </h2>
            @if (User.IsInRole("Admin"))
            {
                <a href="/Products/ProductsTable"> Products Table </a>
            }
        </div>

    </div>


    <div class="row" >
        <div class="col-2">
            <form class="mt-2 mr-2" asp-action="Index" method="post" id="form">
                <input type="text" class="form-control" value="@Model.SearchQuery" asp-for="SearchQuery" placeholder="Search"/>
                <select  asp-for="SelectedCategory"class="form-control" id="select_category">
                    <option value="img"> Select Category </option>
                    @foreach (var cat in Model.Categories)
                    {
                        if (Model.SelectedCategory == cat.CategoryName)
                        {
                            <option value="@cat.CategoryName" selected>@cat.CategoryName</option>
                        }
                        else
                        {
                            <option value="@cat.CategoryName">@cat.CategoryName</option>

                        }
                    }
                </select>
            </form>
        </div>
        <div class="col-10">
            <div class="row">
                <h5 class="px-4 py-2">             @ViewData["SearchResult"]
                </h5>
            </div>
            <div class="row">
         
                @foreach (var item in Model.Products)
                {
                    <div class="col-lg-3 col-md-8 mb-3 padding-0">
                        <a href="/Products/ViewProduct?productId=@Html.DisplayFor(modelItem => item.Product.ProductID)">
                            <div class="card h-100 card-product">
                                <div class="card-body card-body-product">
                                    @{
                                        var base64 = Convert.ToBase64String(item.Product.ProductImage);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    }
                                    <div class="img-holder" style="height: 225px!important;">
                                        <span class="helper"></span>
                                        <img class="card-img-top my-auto" src="@imgSrc" style="width: 220px; height:  220px;" alt=""/>
                                    </div>
                                    <h4 class="card-title product-name-card">
                                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                                    </h4>
                                    <h5 class="product-price">
                                        ₱<span class="price">@Html.DisplayFor(modelItem => item.Product.Price)</span>
                                    </h5>
                                </div>
                                <div class="card-footer pt-1 pb-1">
                                    <p class="mb-0" style="font-size: 11px; color:  #888;">
                                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                    </p>
                                </div>
                            </div>
                        </a>

                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script >
function getJsonFromUrl(url) {
  if(!url) url = location.search;
  var query = url.substr(1);
  var result = {};
  query.split("&").forEach(function(part) {
    var item = part.split("=");
    result[item[0]] = decodeURIComponent(item[1]);
  });
  return result;
}
        
    
    $(document).ready(function()
    {
        
       $("#select_category").change(function()
       {
            $("#form").submit();
       });
    });
    
</script>